[submodule "src/Mixamo-Animation-Dumper"]
path = src/Mixamo-Animation-Dumper
url = https://github.com/FratosVR/Mixamo-Animation-Dumper.git
[submodule "src/Models"]
	path = src/Models
	url = https://github.com/FratosVR/models
